body {
    background-image: url('../img/academia.png');
    background-size: cover;
    height: 10vh;
}

/* Wrapper (logo + container) */
.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    flex-direction: column;
    gap: 30px;
}
.a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: black;
    padding-inline: 16px;
    text-decoration: none;
}
.logo{
    height: 45px;
    width: auto;
}
.logo2{
    height: 100px;
    width: auto;
}
.nav{
    display: flex;
    margin-inline: 15px;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 20px;
    font-size: 20px;

}
/* CSS DO NAVBAR */
.a:hover{
    text-decoration: underline; 
    color: #838383;           
    transition: 0.3s;
    font-size: 25px;
}
.login-icon{
    width: 30px;
    height: auto;
}

/* LOGO */

/* CONTAINER */
.container {
    background: #000000;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* FOTO */
#foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(255, 208, 0);
}

/* INPUT FILE */
input[type="file"] {
    display: none;
}

/* BOTÃO FOTO */
.label-upload {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: rgb(255, 208, 0);
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

/* INPUTS */
input[type="text"], input[type="date"] {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* BOTÃO */
button {
    width: 100%;
    padding: 12px;
    background: rgb(255, 208, 0);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    transform: scale(1.03);
}
a {
    text-decoration: none;
    color: #000000;
}
.logout {
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 38, 38);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.sair{
    color: white;
}